* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 900px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    background-color: transparent;
}
.navigation {
    font-size: 20px;
    margin-top: 75px;
    margin-bottom: 100px;
}
.header__list {
    text-align: left;
    vertical-align: middle;
}
.header__list-item {
    display: inline-block;
    margin-right: 90px;
    margin-left: 60px;
}
.header__list-link {
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb( 98, 98, 98 );
    text-align: center;
    position: absolute;
}
.header__list-link:hover {
    color: rgb( 170, 225, 251 );
}
  
.block {
    display: inline-block;
    width: 420px;
    height: 610px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
    margin: 0 auto;
    background-color: transparent;    
}
.photo {
    margin-top: 30px;
    margin-bottom: 30px; 
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb( 180, 173, 158 );   
}
.block_left {
    margin-left: 0;
    margin-right: 55px;
}
.block_right {
    margin-right: 0px;
    margin-left: 1px;
}
.article {
    font-family: "PlayfairDisplay";
    color: rgb( 98, 98, 98 );
    margin-top: 0;
    margin-bottom: 30px;    
}
.header__list-item-zerro {
    text-align: left; 
    margin-left: 160px;  
}
.header__list-item-first {
    text-align: left;
    margin-left: 100px;      
}
.header__list-item-too {
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;     
}   
.header__list-item-last {
    text-align: right;
    margin-right: 160px;     
}
.text {
    margin-bottom: 135px; 
    color: rgb( 98, 98, 98 );    
}
.block_right_last {
    width: 420px;
    height: 520px;
}
button {
    display: block;
    text-align: center;
    margin: 0 auto;
}

  